<% layout('layouts/boilerplate') %>





<div class="container">
    <div class="row">
        <div class="col" style="margin: auto;
                                text-align: center;
                                width: 50%;
                                padding: 10px;">
            <h1>World Covid Data</h1>
        </div>
    </div>
    <div class="row">
       <div class="col-6">
            <p>
                <h1>Confirmed : <%= Data[0].confirmed %></h1>
                <h2>Recovered : <%= Data[0].recovered %></h2>
            </p>
        </div>
        <div class="col-4">
            <p>
                <h2>Deaths : <%= Data[0].deaths %></h2>
            </p>
            <p>
                <h4>Critical : <%= Data[0].critical %></h4>
            </p>
        </div>
        <div class="col-2">
            <p>
                Last Changed : <%= Data[0].lastChange %>
                Last Updated : <%= Data[0].lastUpdate %>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 py-4 my-2" style="margin: auto; text-align: center;">
            <h5>To search by country name</h5>
            <form action="/world/country" method="GET">
                <label for="cName">Country Name: </label>
                <input type="text" name="cName" id="cName" placeholder="first letter of country name should be capitalized. A little respect here and there makes all the difference.">
            </form>
            <ul>
                <% for(let c of countries){ %>
                   <a href="/world/<%= c.country %>"><li><%= c.country %> </li></a>
                <% } %>  
            </ul>
        </div>
    </div>
</div>


