<% layout('layouts/boilerplate') %>

<div class="container">
	<div class="row">
		<div class="col-3"></div>
		<div class="col-6">
			<h1>Country: <%= Data[0].country %></h1>
			<h4>Code: <%= Data[0].code %></h4>
			<h4>Confirmed: <%=Data[0].confirmed %></h4>
			<h4>Critical: <%=Data[0].critical %></h4>
			<h4>Recovered: <%=Data[0].recovered %></h4>
			<h4>Death: <%=Data[0].deaths %></h4>
			<h4>Last Updated: <%=Data[0].lastUpdate%></h4>
		</div>
		<div class="col-3"></div>
	</div>
</div>
