<% layout('layouts/boilerplate') %>

<div class="container">
	<div style="width: 90%; margin: auto; margin-top:2%">
		<p style="text-decoration: none;padding:10px;">
			<h1><%= state.name %></h1> 
			<table style="width: 50%;">
				<tr>
					<td>
						State Abbreviation:
					</td>
					<td>
						<%= data.state %>
					</td>
				</tr>
				<tr>
					<td>
						Confirmed: 
					</td>
					<td>
						<%= (data.positive==null||data.positive==undefined)==true?'no data available':data.positive  %>
					</td>
				</tr>
				<tr>
					<td>
						Deaths: 
					</td>
					<td>
						<%= (data.death==null||data.death==undefined)==true?'no data available':data.death  %>
					</td>
				</tr>
				<tr>
					<td>
						Recovered: 
					</td>
					<td>
						<%= (data.recovered==undefined||data.recovered==null)==true?'no data available':data.recovered %> 
					</td>
				</tr>
				<tr>
					<td>
						Hospitalized Cumulative:
					</td>
					<td>
						<%= (data.hospitalized==null||data.hospitalized==undefined)==true?'no data available':data.hospitalized  %>
					</td>
				</tr>
				<tr>
					<td>
						Negative:
					</td>
					<td>
						<%= (data.negative==null||data.negative==undefined)==true?'no data available':data.negative  %>
					</td>
				</tr>
				<tr>
					<td>
						Positive Increase:
					</td>
					<td>
						<%= (data.positiveIncrease==null||data.positiveIncrease==undefined)==true?'no data available':data.positiveIncrease  %>
					</td>
				</tr>
			</table>
				<br />
				Last fetched:  <%=data.lastUpdateEt %>
				<br />
				<br />
				<br />
				<br />
		</p>
	</div>
</div>
